.movie {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - var(--nav-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark);
}

.movie__container {
  width: 100%;
  max-width: var(--content-width);
  padding: 2rem;
}

.movie__button button {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.movie__button button:hover {
  transform: translateX(-0.2rem);
  .movie_details_container-button svg {
    fill: var(--accent);
  }
}

.movie__button svg {
  width: 35px;
  height: auto;
}

.movie__content {
  display: flex;
  flex-direction: column;
}

.movie__content h2 {
  font-family: "Suranna", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
}

.movie__content-details {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.movie__content-details p {
  font-style: italic;
}
