.movie_details {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - var(--nav-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark);
}

.movie_details_container {
  width: 100%;
  max-width: var(--content-width);
  padding: 2rem;
}

.movie_details_container-button button {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}

.movie_details_container-button button:hover {
  transform: translateX(-0.2rem);
  .movie_details_container-button svg {
    fill: var(--accent);
  }
}

.movie_details_container-button svg {
  width: 35px;
  height: auto;
}

.movie_details_container-content {
  display: flex;
  flex-direction: column;
}

.movie_details_container-content h2 {
  font-family: "Suranna", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
}

.movie_details_container-content-details {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.movie_details_container-content-details p {
  font-style: italic;
}
