.home {
  width: 100%;
  min-height: calc(100vh - var(--nav-height));
  background: url(../../assets/images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.home__content {
  width: 100%;
  max-width: var(--content-width);
  height: auto;
  padding: 0 6.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.home__heading h1 {
  padding-top: 10rem;
  font-family: "Suranna", serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(52px, 25vw, 96px);
}

.home__columns {
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.home__column h2 {
  height: 5rem;
  padding-bottom: 1rem;
  font-size: 22px;
  text-align: center;
}

.home__column p {
  padding-bottom: 0.5rem;
  font-style: italic;
  font-size: 16px;
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .home__content {
    padding: 0 2rem;
  }

  .home__heading h1 {
    width: 100%;
    padding-bottom: 2rem;
    line-height: 5rem;
    text-align: center;
  }

  .home__columns {
    grid-template-columns: none;
    grid-template-rows: repeat(3, auto);
  }

  .home__column {
    max-width: 300px;
  }

  .home__column h2 {
    height: auto;
    text-align: left;
  }
}
