.header {
  display: flex;
  justify-content: center;
  background-color: var(--dark-secondary);
}

.header__container {
  width: 100%;
  max-width: var(--content-width);
  height: var(--nav-height);
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__heading {
  font-family: "Suranna", serif;
  font-weight: 400;
  font-style: normal;
}

.header__heading-dot {
  color: var(--accent);
}

.header__nav-list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.header__nav-item {
  list-style: none;
}

.header__nav-link {
  width: 100%;
  padding: 0 0.2rem;
  position: relative;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s;
  z-index: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.header__nav-link::before {
  width: 100%;
  height: 0.3rem;
  position: absolute;
  left: 0;
  bottom: 0.07rem;
  content: "";
  background-color: var(--accent);
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.header__nav-link:hover::before {
  height: 110%;
  opacity: 1;
  bottom: 0;
}

.header__nav-link--active::before {
  height: 110%;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  .header__heading {
    font-size: 26px;
  }

  .header__nav-list {
    gap: 1rem;
  }

  .header__nav-link {
    font-size: 16px;
  }
}
