.header {
  display: flex;
  justify-content: center;
}

.header__container {
  width: 100%;
  max-width: 1600px;
  height: var(--nav-height);
  padding: 0 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__heading {
  font-family: "Suranna", serif;
  font-weight: 400;
  font-style: normal;
}

.header__heading-dot {
  color: var(--accent);
}

.header__nav ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.header__nav li {
  list-style: none;
}

.header__nav li a {
  width: 100%;
  padding: 0 0.2rem;
  position: relative;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s;
}

.header__nav li a::before {
  width: 100%;
  height: 0.3rem;
  position: absolute;
  left: 0;
  bottom: 0.07rem;
  content: "";
  background-color: var(--accent);
  z-index: -1;
}

.header__nav li a:hover::before {
  height: 100%;
  bottom: 0;
}

.header__nav li a::before {
  width: 100%;
  height: 0.3rem;
  position: absolute;
  left: 0;
  bottom: 0.07rem;
  content: "";
  background-color: var(--accent);
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .header__container {
    padding: 0 2rem;
  }

  .header__heading {
    font-size: 26px;
  }

  .header__nav ul {
    gap: 1rem;
  }

  .header__nav li a {
    font-size: 16px;
  }
}
