.movies {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - var(--nav-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark);
}

.movies_container {
  width: 100%;
  max-width: var(--content-width);
  padding: 2rem;
}

.movies_container h1 {
  font-family: "Suranna", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
}

.moveis_container-search input {
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
  padding: 0 1rem;
  font-size: 16px;
  color: var(--black);
}

.movies_contaier-list ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style: none;
  padding: 2rem 1rem;
}

.movies_contaier-list li {
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--white);

}

.movies_contaier-list li a {
  text-decoration: none;
}

.movies_contaier-list li a h2 {
  font-family: "Suranna", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.movies_container-error{
  margin-top: 2rem;
}

.movies-list {
  list-style: none;
  padding: 0;
}

.movie-item {
  position: relative;
  margin: 20px 0;
  padding: 20px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.movie-item::before,
.movie-item::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--accent);
  transition: width 0.3s ease;
}

.movie-item::before {
  top: 0;
  left: 0;
}

.movie-item::after {
  bottom: 0;
  right: 0;
}

.movie-item:hover {
  border-color: var(--accent);
}

.movie-item:hover::before,
.movie-item:hover::after {
  width: 100%;
}
