.movies {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - var(--nav-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark);
}

.movies_container {
  width: 100%;
  max-width: var(--content-width);
  padding: 2rem;
}

.movies_container h1 {
  font-family: "Suranna", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
}

.moveis_container-search input {
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
  padding: 0 1rem;
  font-size: 16px;
  color: var(--black);
}

.movies_contaier-list ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style: none;
  padding: 2rem 1rem;
}

.movies_contaier-list li a h2 {
  font-family: "Suranna", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.movies_container-error {
  margin-top: 2rem;
}

.movies-list a {
  width: 100%;
  padding: 0 2rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  background-color: var(--dark-secondary);
}

.movies-list a {
  transition: 0.3s;
}

.movies-list span {
  transition: 0.3s;
}

.movies-list a:hover {
  scale: 1.02;
}

.movies-list a::before,
.movies-list a::after,
.movies-list span::before,
.movies-list span::after {
  content: "";
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  background: transparent;
  transition: 0.3s;
}

.movies-list a::before {
  top: -2px;
  left: -2px;
  border-top: 2px solid var(--accent);
  border-left: 2px solid var(--accent);
}
.movies-list a::after {
  top: -2px;
  right: -2px;
  border-top: 2px solid var(--accent);
  border-right: 2px solid var(--accent);
}

.movies-list span::before {
  bottom: -2px;
  left: -2px;
  border-bottom: 2px solid var(--accent);
  border-left: 2px solid var(--accent);
}
.movies-list span::after {
  bottom: -2px;
  right: -2px;
  border-bottom: 2px solid var(--accent);
  border-right: 2px solid var(--accent);
}

.movies-list a:hover::before,
.movies-list a:hover::after,
.movies-list a:hover span::before,
.movies-list a:hover span::after {
  width: calc(655px / 2);
  height: calc(50px / 2);
}
