.movies {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - var(--nav-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark);
}

.movies__container {
  width: 100%;
  max-width: var(--content-width);
  padding: 2rem;
}

.movies__container h1 {
  font-family: "Suranna", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
}

.moveis__search input {
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
  padding: 0 1rem;
  font-size: 16px;
  color: var(--black);
}

.movies__error {
  margin-top: 2rem;
}

.movies__results-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style: none;
  padding: 2rem 1rem;
}

.movies__results-list a {
  width: 100%;
  padding: 0.5rem 2rem 1.5rem 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  background-color: var(--dark-secondary);
  transition: 0.3s;
}

.movies__results-list span {
  transition: 0.3s;
}

.movies__results-list h2 {
  font-family: "Suranna", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.movies__results-list a:hover {
  scale: 1.02;
}

.movies__results-list a::before,
.movies__results-list a::after,
.movies__results-list span::before,
.movies__results-list span::after {
  content: "";
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  background: transparent;
  transition: 0.3s;
}

.movies__results-list a::before {
  top: -2px;
  left: -2px;
  border-top: 2px solid var(--accent);
  border-left: 2px solid var(--accent);
}
.movies__results-list a::after {
  top: -2px;
  right: -2px;
  border-top: 2px solid var(--accent);
  border-right: 2px solid var(--accent);
}

.movies__results-list span::before {
  bottom: -2px;
  left: -2px;
  border-bottom: 2px solid var(--accent);
  border-left: 2px solid var(--accent);
}
.movies__results-list span::after {
  bottom: -2px;
  right: -2px;
  border-bottom: 2px solid var(--accent);
  border-right: 2px solid var(--accent);
}

.movies__results-list a:hover::before,
.movies__results-list a:hover::after,
.movies__results-list a:hover span::before,
.movies__results-list a:hover span::after {
  width: calc(655px / 2);
  height: calc(50px / 2);
}

@media screen and (max-width: 822px) {
  .movies__results-list h2 {
    font-size: 26px;
    padding: 0.75rem 0;
    line-height: 2rem;
  }

  .movies__results-list p {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .movies__container h1 {
    padding-bottom: 1rem;
    line-height: 3rem;
  }
}
